<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kpu.myweb.mappers.schedulMapper">

	<insert id="insert">
		insert into schedul (id, content, sDate, eDate)
		values
		(#{id}, #{content}, #{sDate}, #{eDate})
	</insert>

	<select id="selectAll" resultType="schedulVO">
		select * from schedul
		where
		id=#{id}
	</select>
</mapper>  